<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<html>
    <!-- <div style="width:100%;height:100%">
        {% block page_content %}{% endblock %}

    </div> -->
  

<body class="container" style="background-image: url('images/person-making-a-donation-min-scaled_1540x720\ \(1\).jpeg');">
<br><br><br><br><br><br>
  <div style="text-align:center" class="text-black ">
    <h1>The Grip Foundation</h1>
    <div class="font-italic">
    <h3>Giving is not just about make a donation, it's about to make a difference.</h3>
    <br><br>
    <h4>No one is useless in this world who lightens the burdens of another</h4> 
    <h5>It is when you give of yourself that you truly give</h5>
    </div>
  </div>
  
  <!-- <div>
    <img src="https://assets.dryicons.com/uploads/icon/svg/6284/f355f54a-f9e3-414f-8abf-3707eb601e29.svg" class="rounded float-right" alt="Bank Logo" style="width:40%">
  </div> -->
  <br><br>
  <div class="text-center">
    <div class="form-floating MB" >
    <a type="submit" class="btn btn-secondary" href="./about_us.html" >ABOUT US</a>
  </div>


  <!-- <div class="text-left">
    <div class="form-floating MB" >
      <a type="submit" class="btn btn-secondary" href="{% url 'Funds Transfer' %}" >MONEY TRANSFER</a>
      <a type="submit" class="btn btn-secondary" href="{% url 'View Customers' %}" >ALL CUSTOMER</a>
      <a type="submit" class="btn btn-secondary" href="{% url 'Transaction History' %}" >TRANSACTION HISTORY</a>
  </div> -->
  <br><br>
<div>
  <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HOtVypMELZ5UW4" async> </script> </form>
</div>


</body>

</html>